<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      @font-face { font-family: "Calibri"; src:
      url("./fonts/calibriRegular.ttf") format("truetype"); } body {
      font-family: "Calibri", sans-serif; -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } .title { overflow: hidden;
      text-align: center; position: relative; font-size: 24px; font-weight: 600;
      line-height: 32px; color: #1f59af; margin-top: 36px; &::after, &::before {
      background-color: #a1bce3; content: ""; display: inline-block; height:
      3px; position: relative; vertical-align: middle; width: 50%; } &::after {
      left: 5px; margin-right: -50%; } &::before { right: 5px; margin-left:
      -50%; } } .table_header { padding: 8px; text-align: center; font-size:
      10px; font-weight: 600; line-height: 15px; } .table_data { padding: 10px;
      text-align: center; font-size: 10px; font-weight: 500; line-height: 15px;
      } .total_header { padding: 8px; text-align: left; font-size: 12px;
      font-weight: 600; background-color: #f3f8fe; } .total_data { margin-left:
      10px; padding: 8px; font-size: 12px; display: flex; justify-content:
      space-between; gap: 5px; }
    </style>
  </head>
  <body>
    <div style='padding: 10px'>
      <div
        style='
          box-shadow: 0rem 0rem 0.2rem rgba(58, 58, 68, 0.12);
          border-radius: 8px;
          padding: 20px;
        '
      >
        <div style='background-color: #f3f8fe; padding: 20px'>
          <!-- Header Section (Company details) -->
          <div style='display: flex; gap: 24px'>
            <div
              style='
                width: 80px;
                height: 56px;
                display: flex;
                flex-direction: column;
              '
            >
              <img src='./img/Logo.webp' alt='' />
            </div>
            <div
              style='
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;
              '
            >
              <div style='font-weight: 600; font-size: 16px; line-height: 24px'>
                BlueVerse India Private Limited
              </div>
              <div
                style='display: flex; justify-content: space-between; gap: 10px'
              >
                <div style='max-width: 300px'>
                  <div
                    style='font-weight: 500; font-size: 10px; line-height: 15px'
                  >
                    <!-- Email id: Finance@blueverseindia.com -->

                    {{outlet.blueverseEmail}}
                  </div>
                  <div
                    style='
                      font-weight: 500;
                      font-size: 10px;
                      line-height: 15px;
                      max-width: 300px;
                    '
                  >
                    {{outlet.blueverseAddress}}
                  </div>
                  <div
                    style='font-weight: 500; font-size: 10px; line-height: 15px'
                  >
                    PAN No.
                    {{blueverseDetails.panNo}}
                  </div>
                  <div
                    style='font-weight: 500; font-size: 10px; line-height: 15px'
                  >
                    GSTIN
                    {{outlet.stateGstNo}}
                  </div>
                </div>
                <!-- Header Section (Payment details) -->
                {{#if paymentTransaction}}

                  <div>
                    <table style='font-size: 10px; width: 100%'>
                      <tr>
                        <th
                          style='
                          font-weight: 500;
                          text-align: left;
                          padding-right: 8px;
                        '
                        >
                          Paid Through
                        </th>
                        <th style='font-weight: 500; text-align: right'>
                          {{paymentTransaction.webhookResponse.order_card_name}}
                        </th>
                      </tr>
                      <tr>
                        <th
                          style='
                          font-weight: 500;
                          text-align: left;
                          padding-right: 8px;
                        '
                        >
                          Transaction ID
                        </th>
                        <th style='font-weight: 500; text-align: right'>
                          {{paymentTransaction.transactionId}}
                        </th>
                      </tr>
                      <tr>
                        <th
                          style='
                          font-weight: 500;
                          text-align: left;
                          padding-right: 8px;
                        '
                        >
                          Paid ON
                        </th>
                        <th style='font-weight: 500; text-align: right'>
                          {{paidOn}}
                        </th>
                      </tr>
                    </table>
                  </div>

                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <!-- Machine name Title -->
        <div class='title'>
          {{machineName}}
          - Top up Memo
          {{monthName}},
          {{year}}
        </div>
        <!-- Billiig Section -->
        <div
          style='
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #1f59af;
            margin-top: 36px;
          '
        >
          Billing Address
        </div>
        <div
          style='margin-top: 5px; display: flex; justify-content: space-between'
        >
          <div style='display: flex; flex-direction: column; gap: 4px'>
            <div style='font-weight: 500; font-size: 12px; line-height: 20px'>
              {{dealerName}}
            </div>
            <div style='font-weight: 500; font-size: 12px; line-height: 20px'>
              {{outlet.name}}
            </div>
            <div
              style='
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                max-width: 350px;
              '
            >
              {{outlet.address}}
            </div>
            <div style='font-weight: 500; font-size: 12px; line-height: 20px'>
              {{outlet.city}},{{outlet.state}},{{outlet.region}}
            </div>
            <div style='font-weight: 500; font-size: 12px; line-height: 20px'>
              {{outlet.gstNo}}
            </div>
          </div>
          <div style='display: flex; flex-direction: column; column-gap: 10px'>
            <div
              style='
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                align-items: center;
              '
            >
              Memo ID
              <span
                style='
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 24px;
                  text-align: right;
                '
              >{{memoId}}</span>
            </div>
            <div
              style='
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                align-items: center;
              '
            >
              Memo Date
              <span
                style='
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 24px;
                  text-align: right;
                '
              >{{memoDate}}</span>
            </div>
            <div
              style='
                font-weight: 700;
                font-size: 12px;
                line-height: 20px;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                align-items: center;
              '
            >
              Machine No
              <span
                style='
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 24px;
                  text-align: right;
                '
              >{{machineName}}</span>
            </div>
          </div>
        </div>
        <!-- line -->
        <div
          style='
            margin-top: 36px;
            width: 100%;
            height: 2px;
            background-color: #c9d8ef;
          '
        ></div>
        <!-- Table section -->
        <div style='margin-top: 36px'>
          <table style='border-collapse: collapse; width: 100%'>
            <thead>
              <tr
                style='
                  background-color: #f3f8fe;
                  border-left: 3px solid #1f59af;
                '
              >
                <th class='table_header'>Sr No.</th>
                <th class='table_header'>Item</th>
                <th class='table_header'>Base Amount (INR)</th>
                <th class='table_header'>CGST (INR) 9%</th>
                <th class='table_header'>SGST (INR) 9%</th>
                <th class='table_header'>Total (INR)</th>
              </tr>
            </thead>
            <tbody>
              <tr style='border-bottom: 1px solid #ddd'>
                <td class='table_data'>1</td>
                <td class='table_data'>Top Up</td>
                <td class='table_data'>{{taxableAmount}}</td>
                <td class='table_data'>{{cgst}}</td>
                <td class='table_data'>{{sgst}}</td>
                <td class='table_data'>{{totalAmount}}</td>
              </tr>
            </tbody>
          </table>
          <div
            style='display: grid; justify-content: flex-end; margin-top: 24px'
          >
            <table>
              <tr>
                <td class='total_header'>Amount Before GST:</td>
                <td class='total_data'>
                  <div>INR</div>
                  <div>{{taxableAmount}}</div>
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <hr />
                </td>
              </tr>
              <tr>
                <td class='total_header'>CGST (9%):</td>
                <td class='total_data'>
                  <div>INR</div>
                  <div>{{cgst}}</div>
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <hr />
                </td>
              </tr>
              <tr>
                <td class='total_header'>SGST (9%):</td>
                <td class='total_data'>
                  <div>INR</div>
                  <div>{{sgst}}</div>
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <hr />
                </td>
              </tr>
              <tr>
                <td class='total_header'>Invoice Total:</td>
                <td class='total_data'>
                  <div>INR</div>
                  <div>{{totalAmount}}</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- Total strip -->
        <div
          style='
            margin-top: 34px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f3f8fe;
            border-left: 4px solid #1f59af;
          '
        >
          <div>Total Payable Amount (In Words)</div>
          <div>{{wordTotalAmount}}</div>
        </div>
        <!-- signature section -->
        <div style='display: flex; justify-content: flex-end; margin-top: 34px'>
          <div>
            <div
              style='height: 2px; background-color: #c9d8ef; width: 100%'
            ></div>
            <div
              style='
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                margin-top: 16px;
              '
            >
              For BlueVerse India Private Limited
            </div>
            <div
              style='
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: #1f59af;
                margin-top: 16px;
              '
            >
              (Authorised Signatory)
            </div>
          </div>
        </div>
        <!-- Footer note  -->
        <div style='margin-top: 34px'>
          <div style='font-size: 14px; font-weight: 500; line-height: 20px'>
            Please note: Charges for payment must be accepted and covered by the
            payer
          </div>
        </div>
        <!-- Footer section -->
        <div style='margin-top: 12px'>
          <div
            style='width: 100%; height: 2px; background-color: #c9d8ef'
          ></div>
          <div
            style='
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              margin-top: 12px;
            '
          >
            Registered address : FLOOR-8, PLOT-208, REGENT CHAMBERS, JAMANLAL
            BAJAJ MARG, NARIMAN POINT, MUMBAI, Mumbai City, MH, 400021, IN.
          </div>
          <div
            style='
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              margin-top: 12px;
            '
          >
            CIN : U29308MH2022PTC393005, Website:
            <a
              style='text-decoration: none; color: inherit'
              href='https://blueverseindia.com/'
              target='_blank'
            >https://blueverseindia.com</a>, Contact no.:
            <a
              style='text-decoration: none; color: inherit'
              href='tel:022-22795400'
            >022-22795400</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>